---
import Base from "../Layouts/Base.astro"
// import { supabase } from '../db/supabase';
// const { data } = await supabase.from("userInformation").select();

---

<Base>
	<h1 class="font-bold text-2xl mt-10">LINEログイン</h1>
	<p>現在はログインしていません。<br>ログインすると↓にメッセージが表示されます</p>
	
	<button id="getInfo">GET!</button>
	<script src="../js/login.js"></script>
</Base>